{% extends "courses.html" %}

{% block content %}


    <!-- ======= courses Section ======= -->
    <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Courses</h2>
            <p>Mechanical Engineering</p>
          </div>
  
          <div class="row">
            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-1-circle"></i></div>
                <h4><a href="Physics">First Semester</a></h4>
          
              </div>
            </div>
  
            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-2-circle"></i></div>
                <h4><a href="">Second Semester</a></h4>
            
              </div>
            </div>
  
            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="600">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-3-circle"></i></div>
                <h4><a href="">Third Semester </a></h4>
              
              </div>
            </div>
  
            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="800">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-4-circle"></i></div>
                <h4><a href="">Fourth Semester</a></h4>
            
              </div>
            </div>
  
            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-5-circle"></i></div>
                <h4><a href="">Fifth Semester</a></h4>
                
              </div>
            </div>
  
            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-6-circle"></i></div>
                <h4><a href="">Sixth Semester</a></h4>
               
              </div>
            </div>
  
            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="600">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-7-circle"></i></div>
                <h4><a href="">Seventh Semester</a></h4>
               
              </div>
            </div>
          
            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="800">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-8-circle"></i></div>
                <h4><a href="">Eighth Semester</a></h4>
               
              </div>
            </div>
      
      
          </div>
  
        </div>
      </section><!-- End courses Section -->
{% endblock content %}